/* Responsive for laptop
@media screen and (min-width: 992px) */

/* Định dạng chung */
html {
  font-family: "Nunito", san-serif;
  font-size: 14px;
  color: #444;
}

.container {
  background-color: #2f9e44;
  font-family: "Nunito", san-serif;
  text-align: justify;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  padding: 2%;
  row-gap: 2%;
  column-gap: 2%;
}

.container-1 {
  background-color: #2f9e44;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 3%;
  column-gap: 3%;
}

/* Goals */
.container-goals {
  background-color: #fff;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: auto auto auto auto;
  padding: 4%;
}

.goals-h4 {
  grid-column: 1 / -1;
  grid-row: 1;
  border-bottom: 1px solid #adb5bd;
}

.container-goals p {
  margin: 1%;
  padding: 1%;
  border-bottom: 1px solid #adb5bd;
}

#goals-icon {
  padding-top: 40%;
  padding-left: 30%;
  color: #2f9e44;
}

/* Team */
.container-team {
  background-color: #fff;
  display: grid;
  grid-template-columns: 20% 75%;
  grid-template-rows: auto auto auto auto;
  padding: 4%;
}

.team-h4 {
  grid-column: 1 / -1;
  grid-row: 1;
  border-bottom: 1px solid #adb5bd;
}

.container-team p {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid #adb5bd;
}

#team-icon {
  padding-top: 20%;
  padding-left: 20%;
  color: #2f9e44;
}

/* Timeline */
.container-2 {
  grid-column: 2 / 3;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-columns: 20% 75%;
  grid-template-rows: auto auto auto auto;
  background-color: #fff;
  padding: 4%;
  margin-bottom: 6%;
}

.timeline-h4 {
  grid-column: 1 / -1;
  grid-row: 1;
  border-bottom: 1px solid #adb5bd;
}

.container-2 p {
  border-bottom: 1px solid #adb5bd;
}

#timeline-icon {
  padding-top: 20%;
  padding-left: 20%;
  color: #2f9e44;
}

/* Scopes */
.container-scopes {
  background-color: #fff;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: auto auto auto auto;
  gap: 8%;
  padding: 4%;
}

.scopes-h4 {
  grid-column: 1 / -1;
  grid-row: 1;
  border-bottom: 1px solid #adb5bd;
}

.container-scopes p {
  padding-left: 2%;
}

#scopes-icon {
  padding-top: 30%;
  padding-left: 20%;
  color: #2f9e44;
}

/* Primary */
.container-primary {
  background-color: #fff;
  display: grid;
  grid-template-columns: 20% 75%;
  grid-template-rows: auto;
  padding: 3%;
}

.primary-h4 {
  grid-column: 1 / -1;
  grid-row: 1;
  border-bottom: 1px solid #adb5bd;
}

.container-primary p {
  border-bottom: 1px solid #adb5bd;
}

#primary-icon {
  padding-top: 20%;
  padding-left: 20%;
  color: #2f9e44;
}

/* Responsive for tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    /* background-color: rebeccapurple; */
  }

  /* Định dạng chung */
  .container {
    display: block;
  }

  .container-1 {
    display: block;
  }

  /* Goals */
  .container-goals {
    display: block;
    margin-bottom: 3%;
  }

  .container-goals p {
    padding-left: 10%;
  }

  #goals-icon {
    padding-left: 50%;
  }

  /* Team */
  .container-team {
    display: block;
    margin-bottom: 3%;
  }

  .container-team p {
    padding-left: 40%;
  }

  #team-icon {
    padding-left: 50%;
  }

  /* Timeline */
  .container-2 {
    display: block;
    margin-bottom: 0%;
  }

  .container-2 p {
    padding-left: 35%;
  }

  #timeline-icon {
    padding-left: 50%;
  }

  /* Scopes */
  .container-scopes {
    display: block;
    margin-bottom: 3%;
  }

  .container-scopes p {
    padding-left: 20%;
  }

  /* Primary */
  .container-primary {
    display: block;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 3%;
  }

  .container-primary p {
    padding-left: 20%;
  }

  #primary-icon {
    padding-left: 50%;
  }
}

/* Responsive for mobile */
@media screen and (max-width: 768px) {
  body {
    /* background-color: yellow; */
  }

  /* Định dạng chung */
  .container {
    display: block;
  }

  .container-1 {
    display: block;
  }

  /* Goals */
  .container-goals {
    display: block;
    margin-bottom: 3%;
  }

  #goals-icon {
    padding-left: 50%;
  }

  /* Team */
  .container-team {
    display: block;
    margin-bottom: 3%;
  }

  .container-team p {
    padding-left: 40%;
  }

  #team-icon {
    padding-left: 50%;
  }

  /* Timeline */
  .container-2 {
    display: block;
    margin-bottom: 0%;
  }

  .container-2 p {
    padding-left: 30%;
  }

  #timeline-icon {
    padding-left: 50%;
  }

  /* Scopes */
  .container-scopes {
    display: block;
    margin-bottom: 3%;
  }

  .container-scopes p {
    padding-left: 10%;
  }

  /* Primary */
  .container-primary {
    display: block;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 3%;
  }

  .container-primary p {
    padding-left: 10%;
  }

  #primary-icon {
    padding-left: 50%;
  }
}
